@model DLCMS.Models.website_Office_Direction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>website_Office_Direction</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Direction_From_Site)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direction_From_Site)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category_Of_Site)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category_Of_Site)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressandDescription_of_Site)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressandDescription_of_Site)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Map_Of_Site)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Map_Of_Site)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirectionByWalk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirectionByWalk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirectionByBus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirectionByBus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
