@model DLCMS.Models.Website_Structure

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Website_Structure</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.underwhichnode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.underwhichnode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.level)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.level)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.linkedid)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.linkedid)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.sequence)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.sequence)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
