@model DLCMS.Models.Website_Structure

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Website_Structure</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.id)
    
            <div class="form-group">
                @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.name)
                    @Html.ValidationMessageFor(model => model.name)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.underwhichnode, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.underwhichnode)
                    @Html.ValidationMessageFor(model => model.underwhichnode)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.level, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.level)
                    @Html.ValidationMessageFor(model => model.level)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.linkedid, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.linkedid)
                    @Html.ValidationMessageFor(model => model.linkedid)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.sequence, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.sequence)
                    @Html.ValidationMessageFor(model => model.sequence)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
