
@{
    ViewBag.Title = "Index";
    var Dictionary = (Dictionary<string, SelectList>)ViewBag.Dict;
}

<h2>Index</h2>
@using (@Html.BeginForm("CreateStaffProfiles", "StaffProfiles", FormMethod.Post))
{
    <div class="panel panel-default col-md-3" style="padding:0px;">
        <div class="panel-heading" style="width:100%;">Create News/Articles Pages</div>
        <div class="panel-body">
            @Html.Label("Staff Name")
            @Html.DropDownList("cbo_StaffList", (SelectList)Dictionary["SatffList"])
            <br />
            @Html.Label("Department")
            @Html.DropDownList("cbo_Staffdept", (SelectList)Dictionary["StaffDeptList"])
            <br />
            @Html.Label("Create What?")<br />
            @Html.DropDownList("cbo_Type", new List<SelectListItem>
                       {
                           new SelectListItem{Text = "Team Pages", Value="Team Pages"},
                           new SelectListItem{Text = "Staff Pages", Value="Staff Pages"},
                           new SelectListItem{Text = "Both Pages", Value="Both Pages"},
                           new SelectListItem{Text = "AlphabeticTeamPages", Value = "AlphabeticTeamPages"}
                       }
            )
            <br />
            <br />
            <input type="submit" value="Create" />
        </div>
    </div>
}

