@model DLCMS.Models.Website_Videos

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
    <div class="form-horizontal">
        <h4>Website_Videos</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.Department, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Department)
                @Html.ValidationMessageFor(model => model.Department)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VideoString, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VideoString)
                @Html.ValidationMessageFor(model => model.VideoString)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.emp_code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.emp_code)
                @Html.ValidationMessageFor(model => model.emp_code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MetaTitle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.MetaTitle, new { @style = "width:100%; min-width:100%", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MetaTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MetaKeyword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.MetaKeyword, new { @style = "width:100%; min-width:100%", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MetaKeyword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MetaDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.MetaDescription, new { @style = "width:100%; min-width:100%", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MetaDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Heading, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Heading, new { @style = "width:100%; min-width:100%", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Heading)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.name, new { @style = "width:100%; min-width:100%", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.website_filename, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.website_filename)
                @Html.ValidationMessageFor(model => model.website_filename)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.content, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextArea("content", new { rows = "20", cols = "10", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.content)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.thumbnailpic, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.thumbnailpic)
                @Html.ValidationMessageFor(model => model.thumbnailpic)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DoneBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoneBy)
                @Html.ValidationMessageFor(model => model.DoneBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfVideo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfVideo)
                @Html.ValidationMessageFor(model => model.DateOfVideo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Staff_Profile_Video, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Staff_Profile_Video, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Staff_Profile_Video)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Active, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Active)
                @Html.ValidationMessageFor(model => model.Active)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save and create Preview" class="btn btn-default" />
            </div>
        </div>
    </div>
    }
    

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @if (File.Exists(ViewBag.filepath_NewWebsite))
            {
                @:<a href="http://10.0.5.214:8080/WebSite_Preview.html" style="padding-left:50px; padding-top:10px;" target="_blank">Preview Webpage NewWebsite</a>
                    }
        </div>
    </div>

</body>
</html>
